/target

# Local Netlify folder
.netlify

# output of `cargo xtask package`
/artifacts

# .env to store APOLLO_KEY for VS Code
.env

# Local dev-docs folder
/dev-docs

# output of `cargo xtask lint`
node_modules
