[package]
authors = ["Apollo Developers <opensource@apollographql.com>"]
categories = ["command-line-interface"]
description = """
Rover is a tool for working with the Apollo GraphQL Registry.
"""
documentation = "https://go.apollo.dev/r/docs"
edition = "2021"
keywords = ["graphql", "cli", "apollo", "graph", "registry"]
license-file = "./LICENSE"
name = "rover"
readme = "README.md"
repository = "https://github.com/apollographql/rover/"
version = "0.9.0-rc.1"
default-run = "rover"

publish = false

[[bin]]
name = "rover"
path = "src/bin/rover.rs"

[workspace]
members = [
    ".",
    "xtask",
    "crates/houston",
    "crates/robot-panic",
    "crates/sputnik",
    "crates/timber",
    "installers/binstall",
]

[features]
default = ["composition-js"]

# this feature exists to enable composition
# notably, it is disabled for x86_64-unknown-linux-musl builds
# because of this GitHub issue: https://github.com/denoland/deno/issues/3711
composition-js = []

[dependencies]
# https://github.com/apollographql/federation-rs dependencies
# apollo-federation-types = "0.5"
# apollo-federation-types = { path = "../federation-rs/apollo-federation-types" }
apollo-federation-types = { git = "https://github.com/apollographql/federation-rs", rev = "4c28792e68b099d4f1fcdb06fbb421b973bfb434" }

# https://github.com/apollographql/apollo-rs dependencies
apollo-parser = "0.2"

# https://github.com/apollographql/introspector-gadget dependencies
introspector-gadget = "0.1"

# workspace dependencies
binstall = { path = "./installers/binstall" }
houston = { path = "./crates/houston" }
robot-panic = { path = "./crates/robot-panic" }
rover-client = { path = "./crates/rover-client" }
sputnik = { path = "./crates/sputnik" }
timber = { path = "./crates/timber" }

# git dependencies
billboard = { git = "https://github.com/EverlastingBugstopper/billboard.git", branch = "main" }
saucer = { git = "https://github.com/EverlastingBugstopper/awc.git", branch = "main" }
# saucer = { path = "../awc/saucer" }

# crates.io dependencies
ansi_term = "0.12"
atty = "0.2"
calm_io = "0.1"
chrono = "0.4"
console = "0.15"
crossbeam-channel = "0.5"
crossterm = "0.23"
ctrlc = "3"
dialoguer = "0.10"
flate2 = "1"
heck = "0.4"
humantime = "2.1.0"
# interprocess = "1"
interprocess = { git = "https://github.com/kotauskas/interprocess", rev = "7fa31fd166f74a1cac6cc06f86981050166c7424"}
lazycell = "1"
libc = "0.2"
netstat2 = "0.9"
notify = "4"
opener = "0.5"
os_info = "3.4"
prettytable-rs = "0.9"
reqwest = { version = "0.11", default-features = false, features = [
    "blocking",
    "json",
] }
semver = "1"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.9"
strsim = "0.10"
strum = "0.24"
strum_macros = "0.24"
rayon = "1"
termimad = "0.20"
tempdir = "0.3"
tar = "0.4"
toml = "0.5"
tracing = "0.1"
url = { version = "2", features = ["serde"] }
which = "4"

[dev-dependencies]
assert_cmd = "2"
assert_fs = "1"
assert-json-diff = "2"
predicates = "2"
reqwest = { version = "0.11", default-features = false, features = [
    "blocking",
    "native-tls-vendored",
] }
serial_test = "0.9"
