[package]
authors = ["Apollo Developers <opensource@apollographql.com>"]
categories = ["command-line-interface"]
description = """
Rover is a tool for working with the Apollo GraphQL Registry.
"""
documentation = "https://go.apollo.dev/r/docs"
edition = "2021"
keywords = ["graphql", "cli", "apollo", "graph", "registry"]
license-file = "./LICENSE"
name = "rover"
readme = "README.md"
repository = "https://github.com/apollographql/rover/"
version = "0.9.2-rc.0"
default-run = "rover"

publish = false

[[bin]]
name = "rover"
path = "src/bin/rover.rs"

[workspace]
members = [
    ".",
    "xtask",
    "crates/houston",
    "crates/robot-panic",
    "crates/sputnik",
    "crates/timber",
    "installers/binstall",
]

[features]
default = ["composition-js"]

# this feature exists to enable composition
# notably, it is disabled for x86_64-unknown-linux-musl builds
# because of this GitHub issue: https://github.com/denoland/deno/issues/3711
composition-js = []

### cross-workspace dependencies
# these dependencies can be used by any other workspace crate by specifying the dependency like so:
# my-dependency = { workspace = true }
[workspace.dependencies]
# path dependencies
binstall = { path = "./installers/binstall" }
houston = { path = "./crates/houston" }
robot-panic = { path = "./crates/robot-panic" }
rover-client = { path = "./crates/rover-client" }
sputnik = { path = "./crates/sputnik" }
timber = { path = "./crates/timber" }

# apollo maintained dependencies

# https://github.com/apollographql/apollo-rs
apollo-parser = "0.2"

# https://github.com/apollographql/federation-rs
apollo-federation-types = { git = "https://github.com/apollographql/federation-rs", rev = "fdea369a6bfa32c8620b526b3d7afe661569c069" }
# apollo-federation-types = "0.5"
# apollo-federation-types = { path = "../federation-rs/apollo-federation-types" }

# https://github.com/EverlastingBugstopper/billboard
billboard = { git = "https://github.com/EverlastingBugstopper/billboard.git", branch = "main" }

# https://github.com/apollographql/introspector-gadget
introspector-gadget = "0.1"

# https://github.com/EverlastingBugstopper/awc
saucer = { git = "https://github.com/EverlastingBugstopper/awc.git", rev = "fd8df605e39fdbdf4985f255a7390afccc2600cd" }

# crates.io dependencies
ansi_term = "0.12"
assert_fs = "1"
assert_cmd = "2"
assert-json-diff = "2"
atty = "0.2"
backtrace = "0.3"
backoff = "0.4"
base64 = "0.13"
cargo_metadata = "0.15"
calm_io = "0.1"
chrono = "0.4"
ci_info = "0.14"
console = "0.15"
crossbeam-channel = "0.5"
crossterm = "0.23"
ctrlc = "3"
dialoguer = "0.10"
directories-next = "2.0"
flate2 = "1"
git-url-parse = "0.4.0"
git2 = "0.15"
graphql_client = "0.11.0"
heck = "0.4"
humantime = "2.1.0"
httpmock = "0.6"
hyper = "0.14"
interprocess = { git = "https://github.com/kotauskas/interprocess", rev = "7fa31fd166f74a1cac6cc06f86981050166c7424"}
indoc = "1"
lazycell = "1"
lazy_static = "1.4"
notify = "4"
online = "4.0.0"
opener = "0.5"
os_info = "3.4"
os_type = "2.4"
predicates = "2"
pretty_assertions = "1"
prettytable-rs = "0.9"
rayon = "1"
regex = "1"
reqwest = "0.11"
semver = "1"
serial_test = "0.9"
serde = "1.0"
serde_json = "1.0"
serde_json_traversal = "0.2"
serde_yaml = "0.9"
strsim = "0.10"
strum = "0.24"
strum_macros = "0.24"
sha2 = "0.10"
termcolor = "1.1"
thiserror = "1"
tar = "0.4"
termimad = "0.20"
tempdir = "0.3"
tempfile = "3.3"
toml = "0.5"
tracing = "0.1"
tracing-core = "0.1"
tracing-subscriber = "0.3"
which = "4"
wsl = "0.1"
uuid = "1"
url = "2"
zip = "0.6"

### rover specific dependencies
[dependencies]
ansi_term = { workspace = true }
assert_fs = { workspace = true }
apollo-federation-types = { workspace = true }
apollo-parser = { workspace = true }
atty = { workspace = true }
billboard = { workspace = true }
binstall = { workspace = true }
calm_io = { workspace = true }
chrono = { workspace = true }
console = { workspace = true }
crossbeam-channel = { workspace = true }
crossterm = { workspace = true }
ctrlc = { workspace = true }
dialoguer = { workspace = true }
flate2 = { workspace = true }
heck = { workspace = true }
houston = { workspace = true }
interprocess = { workspace = true }
prettytable-rs = { workspace = true }
lazycell = { workspace = true }
lazy_static = { workspace = true }
notify = { workspace = true }
opener = { workspace = true }
os_info = { workspace = true }
rayon = { workspace = true }
reqwest = { workspace = true, default-features = false, features = [
    "blocking",
    "json",
] }
robot-panic = { workspace = true }
rover-client = { workspace = true }
saucer = { workspace = true }
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
sputnik = { workspace = true }
strsim = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
tar = { workspace = true }
timber = { workspace = true }
tempdir = { workspace = true }
termimad = { workspace = true }
toml = { workspace = true }
tracing = { workspace = true }
which = { workspace = true }
uuid = { workspace = true }
url = { workspace = true, features = ["serde"] }

[dev-dependencies]
assert_cmd = { workspace = true }
assert_fs = { workspace = true }
assert-json-diff = { workspace = true }
predicates = { workspace = true }
reqwest = { workspace = true, default-features = false, features = [
    "blocking",
    "native-tls-vendored",
] }
serial_test = { workspace = true }
