[package]
authors = ["Apollo Developers <opensource@apollographql.com>"]
edition = "2018"
name = "rover"
version = "0.0.1-rc.4"
repository = "https://github.com/apollographql/rover/"

[dependencies]

# workspace deps
houston = { path = "./crates/houston" }
rover-client = { path = "./crates/rover-client" }
sputnik = { path = "./crates/sputnik" }
timber = { path = "./crates/timber" }
robot-panic = { path = "./crates/robot-panic" }
binstall = { path = "./installers/binstall" }

# crates.io deps
anyhow = "1.0.36"
atty = "0.2.14"
console = "0.14.0"
heck = "0.3.2"
prettytable-rs = "0.8.0"
serde = "1.0"
serde_json = "1.0"
structopt = "0.3.21"
tracing = "0.1.22"
regex = "1"
url = "2.2.0"

[dev-dependencies]
assert_cmd = "1.0.1"
assert_fs = "1.0.0"
directories-next = "2.0.0"
serial_test = "0.5.0"
predicates = "1.0.5"
which = "4.0.2"

[workspace]
members = [".", "crates/*", "installers/binstall"]

[build-dependencies]
anyhow = "1"
which = "4.0.2"
