[package]
authors = ["Apollo Developers <opensource@apollographql.com>"]
categories = ["command-line-interface"]
description = """
Rover is a tool for working with the Apollo GraphQL Registry.
"""
documentation = "https://go.apollo.dev/r/docs"
edition = "2021"
keywords = ["graphql", "cli", "apollo", "graph", "registry"]
license-file = "./LICENSE"
name = "rover"
readme = "README.md"
repository = "https://github.com/apollographql/rover/"
version = "0.4.3"
default-run = "rover"

publish = false

[[bin]]
name = "rover"
path = "src/bin/rover.rs"

[workspace]
members = [
    ".",
    "xtask",
    "crates/houston",
    "crates/robot-panic",
    "crates/sputnik",
    "crates/timber",
    "installers/binstall"
]

[dependencies]
# https://github.com/apollographql/federation-rs dependencies
apollo-federation-types = { version = "0.2", features = ["config", "build"] }

# git dependencies
billboard = { git = "https://github.com/EverlastingBugstopper/billboard.git", branch = "main" }

# workspace dependencies
binstall = { path = "./installers/binstall" }
houston = { path = "./crates/houston" }
robot-panic = { path = "./crates/robot-panic" }
rover-client = { path = "./crates/rover-client" }
sputnik = { path = "./crates/sputnik" }
timber = { path = "./crates/timber" }

# crates.io dependencies
ansi_term = "0.12"
anyhow = "1"
atty = "0.2"
calm_io = "0.1"
camino = { version = "1", features = ["serde1"] }
chrono = "0.4"
console = "0.15"
crossterm = "0.22"
git-url-parse = "0.4"
git2 = { version = "0.13", default-features = false, features = [
    "vendored-openssl",
] }
heck = "0.4"
lazycell = "1"
opener = "0.5"
os_info = "3.2"
prettytable-rs = "0.8"
reqwest = { version = "0.11", default-features = false, features = [
    "blocking",
    "json",
] }
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.8"
strsim = "0.10"
structopt = "0.3"
strum = "0.23"
strum_macros = "0.23"
termimad = "0.20"
tempdir = "0.3"
toml = "0.5"
tracing = "0.1"
url = { version = "2", features = ["serde"] }
which = "4"

[dev-dependencies]
assert_cmd = "2"
assert_fs = "1"
assert-json-diff = "2"
predicates = "2"
reqwest = { version = "0.11", default-features = false, features = [
    "blocking",
    "native-tls-vendored",
] }
serial_test = "0.5"
