[tools]
lychee = "0.21"
node = "24"
"cargo:cargo-deny" = "0.18"

[tasks.check]
description = "Run the same checks as CI"
depends = ["clippy", "format-check", "test"]

[tasks.format-check]
run = "cargo +nightly fmt --all -- --check"

[tasks.clippy]
run = "cargo clippy --locked --workspace --all-features --all-targets"

[tasks.test]
run = "cargo test --locked --workspace"

[tasks.install_npm]
run = "bash .mise/scripts/install_npm.sh"

[tasks.install_npm_global]
run = "bash .mise/scripts/install_npm_global.sh"

[tasks.install_pnpm]
run = "bash .mise/scripts/install_pnpm.sh"

[tasks.cargo-deny]
run = "cargo deny check"
