[package]
authors = ["Apollo Developers <opensource@apollographql.com>"]
description = "an http client for making graphql requests for the rover CLI"
edition = "2021"
name = "rover-client"
version = "0.0.0"

publish = false

[dependencies]
apollo-federation-types = { workspace = true }
chrono = { workspace = true, features = ["serde"] }
git-url-parse = { workspace = true }
git2 = { workspace = true, default-features = false, features = [
    "vendored-openssl",
] }
graphql_client = { workspace = true }
houston = { workspace = true }
humantime = { workspace = true }
hyper = { workspace = true }
introspector-gadget = { workspace = true }
prettytable-rs = { workspace = true }
reqwest = { workspace = true, default-features = false, features = [
    "blocking",
    "brotli",
    "gzip",
    "json",
    "native-tls-vendored",
    "socks",
] }
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
regex = { workspace = true }

[build-dependencies]
anyhow = { workspace = true }
camino = { workspace = true }
rover-std = { workspace = true }
serde_json = { workspace = true }
reqwest = { workspace = true, default-features = false, features = [
    "json",
    "blocking",
    "native-tls-vendored",
] }
online = { workspace = true, default-features = false }
uuid = { workspace = true, features = ["v4"] }

[dev-dependencies]
indoc = { workspace = true}
httpmock = { workspace = true }
pretty_assertions = { workspace = true }
