[package]
name = "rover-client"
description = "an http client for making graphql requests for the rover CLI"
version = "0.0.0"
authors = ["Apollo Developers <opensource@apollographql.com>"]
edition = "2018"

[dependencies]

# workspace deps
houston = { path = "../houston" }

# crates.io deps
anyhow = "1"
graphql_client = "0.9"
http = "0.2"
reqwest = { version = "0.11", features = ["json", "blocking", "native-tls-vendored"] }
serde = "1"
serde_json = "1"
thiserror = "1"
tracing = "0.1"
chrono = "0.4"

[build-dependencies]
online = "0.2.2"
reqwest = { version = "0.11", features = ["blocking", "native-tls-vendored"] }
uuid = { version = "0.8", features = ["v4"] }
