[package]
authors = ["Apollo Developers <opensource@apollographql.com>"]
description = "an http client for making graphql requests for the rover CLI"
edition = "2018"
name = "rover-client"
version = "0.0.0"

[dependencies]

# workspace deps
houston = {path = "../houston"}

# crates.io deps
backoff = "0.3"
camino = "1"
chrono = { version = "0.4", features = ["serde"] }
git-url-parse = "0.3.1"
git2 = { version = "0.13.22", default-features = false, features = ["vendored-openssl"] }
graphql_client = "0.10"
http = "0.2"
humantime = "2.1.0"
prettytable-rs = "0.8.0"
reqwest = { version = "0.11", default-features = false, features = ["blocking", "brotli", "gzip", "json", "native-tls-vendored"] }
regex = "1"
sdl-encoder = {path = "../sdl-encoder"}
semver = "1"
serde = "1"
serde_json = "1"
thiserror = "1"
tracing = "0.1"

[build-dependencies]
camino = "1"
online = { version = "3.0.1",  default-features = false, features = ["sync"] }
reqwest = {version = "0.11", default-features = false, features = ["json", "blocking", "native-tls-vendored"]}
uuid = {version = "0.8", features = ["v4"]}

[dev-dependencies]
indoc = "1.0.3"
httpmock = "0.6"
pretty_assertions = "0.7.1"
