[package]
name = "xtask"
version = "0.1.0"
authors = ["Apollo Developers <opensource@apollographql.com>"]
edition = "2018"

[dependencies]
ansi_term = "0.12"
anyhow = "1"
camino = "1.0"
cargo_metadata = "0.13"
lazy_static = "1.4"
regex = "1"
structopt = { version = "0.3", default-features = false }
which = "4.1"