[package]
name = "binstall"
version = "0.1.0"
authors = ["Apollo Developers <opensource@apollographql.com>"]
edition = "2018"

[dependencies]
atty = "0.2"
camino = "1"
directories-next = "2.0"
thiserror = "1.0"
tracing = "0.1"

[target.'cfg(target_os = "windows")'.dependencies]
cc = "1.0"
winapi = "0.3"
winreg = "0.10"

[dev-dependencies]
assert_fs = "1.0"
serial_test = "0.5"
