on:
  pull_request:
    paths:
      - "**/*.md"
  schedule:
    - cron: '0 0 * * *'

permissions: {}

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
      - run: mise run check-links
