on:
  pull_request:
    paths:
      - "**/*.md"
  schedule:
    - cron: '0 0 * * *'

permissions: {}

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
      - run: mise run check-links
