on:
  pull_request:
  merge_group:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

name: "Run End-To-End Tests"
jobs:
  calculate_correct_version_ranges:
    name: "Calculate Correct Version Ranges"
    runs-on: ubuntu-24.04
    outputs:
      router_versions: ${{ steps.router-versions.outputs.router_versions }}
      supergraph_versions: ${{ steps.supergraph-versions.outputs.supergraph_versions }}
    steps:
      - name: "Checkout rover repo"
        uses: actions/checkout@v6
      - name: "Get latest Router version"
        id: "router-versions"
        working-directory: ".github/scripts"
        run: |
          ROUTER_JSON=$(source get_latest_x_versions.sh router latest-2)
          echo "router_versions=$ROUTER_JSON" >> "$GITHUB_OUTPUT"
      - name: "Get latest Supergraph Plugin version"
        id: "supergraph-versions"
        working-directory: ".github/scripts"
        run: |
          SUPERGRAPH_JSON=$(source get_latest_x_versions.sh supergraph latest-2)
          echo "supergraph_versions=$SUPERGRAPH_JSON" >> "$GITHUB_OUTPUT"
  run-smokes:
    name: "Run Tests"
    needs:
      - calculate_correct_version_ranges
    uses: ./.github/workflows/smoke-test.yml
    with:
      composition-versions: '${{ needs.calculate_correct_version_ranges.outputs.supergraph_versions }}'
      router-versions: '${{ needs.calculate_correct_version_ranges.outputs.router_versions }}'
    secrets: inherit
