on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  commands_e2e:
    name: commands E2E
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install stable@stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - name: Build Services
        run: cargo build -r -p regressions --example is_deprecated
      - name: Run Services
        run: !
            ./target/release/examples/is_deprecated &
            echo $! > is_deprecated_service.pid
      - uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
      - name: Run Tests
        run: mise run cli_commands_test
      - name: Kill Service
        run: kill $(cat is_deprecated_service.pid)
