on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:
    inputs:
      router-versions:
        description: 'Optional JSON list of router versions (defaults to latest-1 & latest-2)'
        required: false
        type: string
      composition-versions:
        description: 'Optional JSON list of supergraph versions (defaults to latest-2)'
        required: false
        type: string

name: "Run Smoke Tests (Automated)"
jobs:
  calculate_correct_version_ranges:
    name: "Calculate Correct Version Ranges"
    runs-on: ubuntu-24.04
    outputs:
      router_versions: ${{ steps.router-versions.outputs.router_versions }}
      supergraph_versions: ${{ steps.supergraph-versions.outputs.supergraph_versions }}
    steps:
      - uses: actions/checkout@v6
        name: "Checkout rover repo"
      - env:
          ROUTER_JSON: ${{ github.event_name == 'workflow_dispatch' && inputs.router-versions || '' }}
        run: |
          if [ -z "$ROUTER_JSON" ]; then
            ROUTER_JSON=$(source get_latest_x_versions.sh router latest-1 latest-2)
          fi
          echo "router_versions=$ROUTER_JSON" >> "$GITHUB_OUTPUT"
        id: "router-versions"
        working-directory: ".github/scripts"
        name: "Resolve Router versions"
      - env:
          SUPERGRAPH_JSON: ${{ github.event_name == 'workflow_dispatch' && inputs.composition-versions || '' }}
        run: |
          if [ -z "$SUPERGRAPH_JSON" ]; then
            SUPERGRAPH_JSON=$(source get_latest_x_versions.sh supergraph latest-2)
          fi
          echo "supergraph_versions=$SUPERGRAPH_JSON" >> "$GITHUB_OUTPUT"
        id: "supergraph-versions"
        working-directory: ".github/scripts"
        name: "Resolve Supergraph Plugin versions"

  run-smokes:
    name: "Run Smoke Tests"
    uses: ./.github/workflows/smoke-test.yml
    needs: calculate_correct_version_ranges
    with:
      composition-versions: '${{ needs.calculate_correct_version_ranges.outputs.supergraph_versions }}'
      router-versions: '${{ needs.calculate_correct_version_ranges.outputs.router_versions }}'
    secrets: inherit

  message-slack:
    runs-on: ubuntu-24.04
    needs: run-smokes
    name: "Message Slack On Test Failure"
    if: ${{ failure() && github.event_name != 'workflow_dispatch' }}
    steps:
      - name: Send custom JSON data to Slack workflow
        id: slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          # This data can be any valid JSON from a previous step in the GitHub Action
          payload: |
            run_url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          webhook: ${{ secrets.SLACK_E2E_TEST_FAILURE_WEBHOOK_URL }}
          webhook-type: webhook-trigger
