on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  introspection_e2e:
    name: introspection E2E
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install stable@stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - name: Install rover
        run: cargo build -r --bin rover
      - name: Check rover
        run: |
          export PATH="$PATH:./target/release"
          rover -V
      - name: Build Services
        run: cargo build -r -p regressions --example is_deprecated
      - name: Run Tests
        run: |
            ./target/release/examples/is_deprecated &
            echo $! > is_deprecated_service.pid
            cargo build
            cargo test --locked --package regressions --test cli_tests -- introspection_cli_tests
            kill $(cat is_deprecated_service.pid)

  connectors_e2e:
    name: connectors E2E
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install stable@stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - name: Install rover
        run: cargo build -r --bin rover
      - name: Check rover
        run: |
          export PATH="$PATH:./target/release"
          rover -V
      - name: Run Tests
        run: |
            cargo build
            cargo test --locked --package regressions --test cli_tests -- connectors_cli_tests
            

